/*--------
General
---------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin:auto;
}
/*--------
Debugg
---------*/
.debug header{
    background-color: #add8e6;
    padding-bottom: 4px;
}
.debug .credential{   
    background-color: #daa520;
}
.debug .credential > *{
    height: 45px;
}
.debug .bottom-header{
    background-color: #00008b;
}
.debug .main-box{
    height: 500px;
}
.debug .box-header{
    background-color: #ee82ee ;
    height: 400px;
}
.debug .small-box{
    background-color: #ffc0cb;
    height: 500px;
}
.debug .big-box{
    background-color: #1e90ff;
    height: 500px;
}
.debug main section:nth-child(2n+2){
    background-color: #d3d3d3 ;
}
.debug .giant-box{
    background-color: #228b22;
    height: 900px;
}
.debug .border{
    border: 2px dashed black;   
}
/*-------
 header
-------*/
.top-header{
    padding: 17px 0px;
}
.credential{
    display: flex;
}
.col-logo{
    width: 25%; 
    display: flex;
    align-items:center;
}
.col-link{
    width:50%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.col-login{
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}
.main-box{
    display: flex;
    align-items:center;
    justify-content: center;
}
.box-header{
    width:calc(100% - 290px);
    border-radius: 10px;
}
/*-------
main
--------*/
.container-box{
    display: flex;
    padding: 50px 0px;
}
.small-box{
    width: calc(100% - 720px);
}
.big-box{
    width: calc(100% - 480px);
}
.giant-box{
    width: 100%;
}
